/* TODO Add site wide styles */

html{
    overflow: hidden;
}

.login-page__container{
    display: flex;
    justify-content: space-evenly;

}

.login__container{
    display: flex;
    /* align-items: center; */
    /* text-align: center; */
    justify-content: center;
    width: 100%;
    position: relative;
    top: 20rem;
    left: 10rem;
    bottom: 10rem;

}

.login__graphic{
    width: 100%;
    /* height: ; */
}

.signup-page__container{
    display: flex;
    justify-content: space-evenly;

}

.signup__container{
    display: flex;
    /* align-items: center; */
    /* text-align: center; */
    justify-content: center;
    width: 100%;
    position: relative;
    top: 10rem;
    left: 10rem;
    bottom: 10rem;

}

.signup__graphic{
    width: 100%;
    /* height: ; */
}

.client-view__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__container{
    text-Align: center;
    border: 1px solid black;
    border-radius: 3px;
    width: 30%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* .title__header{
    font-weight: bold;
} */

.clientinfo__container{
    border: 1px solid black;
    border-radius: 3px;
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: space-evenly;
}

.clientinfo__info{
    display: block;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
}

.clientinfo__clientcard{
    display: flex;
    justify-content: space-evenly;
}

.clientinfo__info__contact{
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}
