*{
    margin: 0;
	padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    overflow: auto;
    background-color: #0f1724;
    /* width: 110%; */
    overflow-x: hidden;

}

body{
    width: 100%;
    height: 100%;
}


.addWorkout{
    margin-top: 1rem;
    position: relative;
    bottom: 1rem;
    font-family: Calibri;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    font-size: 18px;
    margin-top: 3rem;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    2px 2px 8px rgba(0, 0, 0, 0.15);
}

.addWorkout:hover{

    box-shadow:
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset -2px -2px 4px rgba(255, 255, 255, 1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.addWorkout:hover span{
    display: inline-block;
    transform: scale(0.98);
}

.addClient{
    margin-top: 1.2rem;
    margin-left: 6.5rem;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: white;
    font-size: 18px;
    border-radius: 50px;

}

.addClient:hover{
    cursor: pointer;

}



.addWorkoutPlan{
    font-size: 5rem;
    font-weight: 300;
    position: relative;
    top: 1rem;
}

.addWorkoutPlan:hover{

    overflow: hidden;
    overflow-y: hidden;
    cursor: pointer;
}

.editProfile{
    /* margin-top: 3rem; */
    position: relative;
    text-align: center;
    /* bottom: 3rem;
    left: 2rem; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    font-size: 18px;
    width: 10rem;
    /* border-radius: 40px; */
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    2px 2px 8px rgba(0, 0, 0, 0.15);
}

.editProfile:hover{

    box-shadow:
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset -2px -2px 4px rgba(255, 255, 255, 1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.editProfile:hover span{
    display: inline-block;
    transform: scale(0.98);
}

body::-webkit-scrollbar {
    width: 1.5em;
  }

  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  body::-webkit-scrollbar-thumb {
    background-color: white;
    outline: 1px solid #99c1de;
  }

.MuiDrawer-paper{
    background-color: #24364e !important
}

.Mui-expanded{
    background-color: white !important
}

.MuiToolbar-root {
    display: flex;
    justify-content: space- !important;
}

.MuiInputLabel-root{
    color: white !important;
    background-color: white;
}

.MuiListItemText-primary{
    color: white !important;
}

.MuiFormLabel-root{
    color: black !important;
}

.footer__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #284B63;
    color: white;
    min-height: 64px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.login-page__container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    /* border: 3px solid red; */


}

.login__graphic{
    width: 100%;
}
.login__container{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 20rem;
    background-color: white;
    /* left: 10rem;
    bottom: 10rem; */
}


.signup-page__container{
    display: flex;
    justify-content: space-evenly;
    background-color: white;

}

.signup__container{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 10rem;
    left: 10rem;
    bottom: 10rem;

}

.signup__graphic{
    width: 100%;
}

.client-view__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.editclient__btn{
    position: absolute;
}

.overview__container{
    display: flex;
    background-color: #24364e;
    position: relative;
    text-align: center;
    justify-content: center;
    color: white;
    height: 4rem;
}

.overview-date{
    display: flex;
    justify-content: flex-start;
    background-color: #b0c9c2;
    position: relative;
    /* top: 2rem; */
    /* box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    #A3B1C6; */
    /* padding: 0.3rem; */
    color: white;
    /* height: 4rem; */
}

.overview-buttons{
    /* position: relative;
    top: 2.6rem;
    right: 3rem; */
    display: flex;
    justify-content: flex-end;
    background-color: #24364e;
    /* box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    #A3B1C6; */
    /* padding: 0.3rem; */
    color: white;
    height: 4rem;
}

.client-buttons{
    /* position: relative;
    top: 2.6rem;
    right: 3rem; */
    display: flex;
    justify-content: flex-end;
    background-color: #070d17;
    /* box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    #A3B1C6; */
    /* padding: 0.3rem; */
    color: white;
    height: 8rem;
    position: relative;
    bottom: 3rem;
    max-width: 960px;
    /* top: 3rem; */
}

.today-sched__container{
    letter-spacing: 2px;
    border-radius: 5px;
    /* width: 65rem; */
    height: auto;
    display: block;
    /* padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem; */
    align-content: center;
    margin-top: 2rem;
    /* margin-bottom: 4rem; */
    background-color: #0f1724;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    /* box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px #bdbfb8; */
}

.today-workouts{
    /* letter-spacing: 2px; */
    border-radius: 5px;
    /* width: 65rem; */
    height: auto;
    display: block;
    /* padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem; */
    align-content: center;
    margin-top: 2rem;
    /* margin-bottom: 4rem; */
    background-color: #24364e;
    /* box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px #bdbfb8; */
}

.todaysclients__container{
    background-color: #0f1724;
    position: relative;
    bottom: 3rem;
    padding-bottom: 2.5rem;
    text-align: center;
    /* border-left: 1px solid white;
    border-right: 1px solid white; */
    /* margin-top: 10rem; */
}

.today-sched__title{
    text-align: center;
    font-family: Calibri;
    font-weight: bold;
    font-size: 1.3em;
    position: relative;
    top: 2rem;
}

.title__container{
    text-Align: center;
    position: relative;
    /* left: 2rem; */
    font-size: 1rem;
    font-family: Pacifico, cursive;
    /* background-image: linear-gradient(to right, #c59283, white, #c59283); */
    /* margin-top: 3rem; */
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
}

/* /manage-client section */

.clientinfo__container{
    /* display: flex; */
    border-radius: 3px;
    padding-top: 1rem;
    margin-top: 2rem;
    /* width: 30rem; */
}

.clientinfo__header{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.clientinfo__info{
    display: block;
    text-align: center;
    /* width: 35rem; */
    height: 20rem;
    position: relative;
    /* left: 5rem; */
    /* top: 3rem; */
    /* border-radius: 5px; */
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    /* width: 100%; */
    /* margin-right: 0.5rem; */
    color: #bde0fe;
    background-color: #1a2230;
    /* background-color: #fcd5ce; */
    box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    rgba(94, 104, 121, .288)
    /* box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15); */
}

.clientinfo__payment{
    display: block;
    text-align: center;
    /* width: 40rem; */
    height: 20rem;
    position: relative;
    /* top: 3rem; */
    /* margin-left: -20rem; */
    bottom: 3rem;
    /* border-radius: 5px; */
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    color: #bde0fe;
    background-color: #1a2230;
    box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    rgba(94, 104, 121, .288)
    /* box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15); */
}

.clientinfo__clientcard{
    display: flex;
    justify-content: center;
    overflow: auto;
    /* padding: 1rem; */
    /* margin-right: 2rem; */
    /* margin-left: 1rem; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* padding-left: rem; */
    /* width: 26rem; */
    color: white;
    background-color: black;
    /* font-size: 1.2em; */
    box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    #A3B1C6
}

.title__header{
    font-size: 3em;
    color: #bde0fe;
    /* background-color: #1a2230; */
}

@media only screen and (max-width: 1400px) {

    .clientinfo__clientcard{
        justify-content: flex-start;
    }
  }

.clientinfo__paymentcard{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    padding-top: 1rem;
    /* margin-left: 1rem; */
    padding-bottom: 3rem;
    /* margin-right: 1rem; */
    color: white;
    background-color: black;
    box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    #A3B1C6
}

.clientinfo__info__contact{
    border: 1px solid transparent;
    /* border-radius: 3px; */
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.cancellation{
    margin-top: 1.2rem;
}

.card__contact{
    font-weight: 700;
}

.clientinfo__info__payment{
    border: 1px solid transparent;
    /* border-radius: 3px; */
    display: flex;
    flex-direction: column;
    /* margin-right: 2rem; */
    text-align: center;
}

.clientinfo__info__payment__duedate{
    justify-content: flex-start;
}

/* home - client / workout section */
.home-page__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.home-clients__container{
    letter-spacing: 2px;
    border-radius: 5px;
    width: 65rem;
    height: 35rem;
    display: block;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    background-color: #c4dfd7;
    /* box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px #bdbfb8 */
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15);
}

.workouts-and-intensities{
    display: flex;
    justify-content: space-around;
}

.home-welcome__message{
    font-size: 2rem;
    font-family: Pacifico, cursive;
    margin-top: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    color: #bde0fe;

}

.home-clients__title{
    text-align: center;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-family: Calibri;
    font-weight: 800;
    /* width: 10rem; */
    height: 3.2rem;
    position: relative;
    /* left: 7rem; */
    /* top: 1rem; */
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    background-color: #212c3d;
    border-bottom: 1px solid black;
    /* box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    rgba(94, 104, 121, .288) */
    /* box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15); */
}


.home-clients__header{
    margin-top: 2rem;
    color: #bde0fe;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

    .home-clients__header2{
    margin-top: 1rem;
    color: #bde0fe;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-clients__info{

    display: inline-block;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-top: 3rem;
    border-radius: 50px;
    background-color: #feeafa;
    box-shadow:
    inset -3px -3px 7px #A3B1C6,
    inset 3px 3px 5px
     #ffffff
    /* background-color: white;
    box-shadow:
    -6px -6px 16px 0 rgba(0, 0, 0, 0.25),
    8px 8px 12px 0 rgba(255, 255, 255, 0.3); */
}

.home-clients__info:hover{
    padding: 10rem;
    transition-duration: 2s;
}

.home-clients__payment{
    display: block;
    text-align: center;
    /* width: 30rem; */
    /* height: 25rem; */
    margin-top: 3rem;
    /* border-radius: 5px; */
    background-color: #212c3d;
    margin-bottom: 3rem;
    /* box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15); */
    /* box-shadow:
    inset -3px -3px 7px #A3B1C6,
    inset 3px 3px 5px
     #ffffff */
    /* box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    rgba(94, 104, 121, .288) */

}

.home-clients__payment::-webkit-scrollbar {
    background-color: transparent;
}

.home-clients__payment::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.home-clients__payment::-webkit-scrollbar-thumb {
    background-color: #99c1de;
    outline: none;
  }

.home-clients__workouts{

    overflow-y: hidden;
    overflow-x: hidden;
    height: 15rem;
    padding-top: 2rem;
}

.home-clients__workouts:hover{
    overflow-y: auto;
}

.home-clients__workouts::-webkit-scrollbar{
    background-color: white;
}
.home-clients__workouts::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.home-clients__workouts::-webkit-scrollbar-thumb{
    background-color: #11ece5;
}

.home-clients__workouts{
    display: flex;
    justify-content: center;
}

.home-clients__clientcard{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin-right: 2rem;
}

.home-clients__paymentcard{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid blue;
    padding: 1rem;
    margin-left: 2rem;
}

.home-clients__info__contact{
    border: 1px solid transparent;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    text-align: center;
}

.home-clients__info__payment{
    border: 1px solid transparent;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    text-align: center;
}

.form__container{
    position: relative;
    left: 2rem;
}

.home-clients__info__payment__duedate{
    justify-content: flex-start;
}

.card__header{
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1rem;
}

.workout-and-calendar__container{
    display: flex;
    margin-top: 8rem;
    flex-direction: column;
    align-items: center;
}

.client-activity-block{
    display: block;
    text-align: center;
}

.client-view__workout-plans{
    display: block;
    /* text-align: center; */
    /* align-content: center; */
    position: relative;
    bottom: 3rem;
    /* left: 30rem; */
    /* width: auto; */
    height: 27rem;
    /* bottom: 10rem; */
    /* border-radius: 20px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #24364e;
    /* padding-bottom: 2rem; */
    padding-right: 3rem;
    border-bottom: 1px solid black;
    overflow-x: auto;
    /* box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15); */
}

@media only screen and (max-width: 960px) {

    .client-view__workout-plans{
        max-width: 940px;

    }
  }

@media only screen and (max-width: 806px) {

    .client-view__workout-plans{
        max-width: 740px;

    }
  }
@media only screen and (max-width: 700px) {

    .client-view__workout-plans{
        max-width: 640px;

    }
  }
@media only screen and (max-width: 600px) {

    .client-view__workout-plans{
        max-width: 540px;

    }
  }
@media only screen and (max-width: 450px) {

    .client-view__workout-plans{
        max-width: 390px;

    }
  }


.client-view__workout-plans-header-on{
    display: flex;
    background-image: linear-gradient(to right, #214b64, #24364e);
    height: 4rem;
    position: relative;
    color: white;
    width: 7rem;
    top: 4rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.4rem;
    background-color: #24364e;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15);
    align-items: center;
    /* box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    rgba(94, 104, 121, .288); */
    padding-right: 1rem;

}

.client-view__workout-plans-header-off{
    display: flex;
    background-image: linear-gradient(to right, #214b64, #24364e);    height: 4rem;
    position: relative;
    color: white;
    width: 7rem;
    top: 4rem;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.4rem;
    padding-right: 1rem;
    background-color: #dbded5;
}

.client-view__workout-plans-header-off:hover{
    cursor: pointer;
}

.client-view__workout-sched-header-off:hover{
    cursor: pointer;
}

.client-view__workout-schedule{
    display: block;
    text-align: center;
    align-content: center;
    width: 60rem;
    height: 25rem;
    border-radius: 20px;
    position: relative;
    /* bottom: 10rem; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #b0c9c2;
    padding-bottom: 2rem;
    padding-right: 3rem;
    box-shadow:
    inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px
    rgba(94, 104, 121, .288)
}

.client-view__workout-sched-header-on{
    display: flex;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 4rem;
    background-image: linear-gradient(to right, #214b64, #24364e);
    position: relative;
    justify-content: center;
    width: 7rem;
    top: 4rem;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    /* box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    rgba(94, 104, 121, .288); */
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15);
}

.client-view__workout-sched-header-off{
    display: flex;
    background-color: #b0c9c2;
    color: white;
    background-image: linear-gradient(to right, #214b64, #24364e);    height: 4rem;
    position: relative;
    justify-content: center;
    width: 7rem;
    top: 4rem;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


.workoutplans__container{
    display: flex;
    margin-top: 3rem;
    overflow-x: hidden;
    margin-left: 3rem;
}

.today-plan-sched__container{
    display: flex;
    margin-top: 3rem;
    overflow-x: hidden;
    /* margin-left: 3rem;; */
}

.today-plan-sched__container-hidden{
    visibility: hidden;
    display: flex;
    margin-top: 3rem;
    overflow-x: hidden;
    /* margin-left: 3rem;; */
}

.workoutplans__container:hover{
    overflow-x: auto;
}

.workoutplans__container::-webkit-scrollbar {

    background-color: #dbded5;
}

.workoutplans__container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.workoutplans__container::-webkit-scrollbar-thumb {
    background-color: white;
    outline: none;
  }


  .overview-button-today-on{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 3rem;
    position: relative;
    width: 5rem;
    /* left: 10.4rem; */
    top: 1rem;
    /* right: 2px; */
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.4rem;
    background-image: linear-gradient(to right, #214b64, #24364e);
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15);

}

.overview-button-today-off{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 3rem;
    position: relative;
    top: 1rem;
    width: 5rem;
    /* left: 10.47rem; */
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.4rem;
    background-image: linear-gradient(to right, #214b64, #24364e);

}

.overview-button-today-off,
.overview-button-tomorrow-off
:hover{
    cursor: pointer;
}

.overview-button-tomorrow-on{
    display: flex;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 3rem;
    position: relative;
    justify-content: center;
    width: 7rem;
    top: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    background-image: linear-gradient(to right, #214b64, #24364e);
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15);
    padding-left: 1rem;
    padding-right: 1rem;
}

.overview-button-tomorrow-off{
    display: flex;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 3rem;
    position: relative;
    justify-content: center;
    /* left: px; */
    width: 7rem;
    top: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    background-image: linear-gradient(to right, #214b64, #24364e);

}


@media only screen and (max-width: 360px) {

    .MuiTimelineContent-root {
        flex: 1;
        padding: 6px 16px;
        max-width: fit-content;
    }
    .MuiTimelineItem-alignAlternate:nth-child(odd) {
        flex-direction: row-reverse;
    }
  }



.invisibar{
    height: 3rem;
    text-align: center;
    position: relative;
    /* bottom: 3rem; */
}

.marginTop{
    margin-top: 2rem;
}

.profile-edit__container{
    display: flex;
    justify-content: center;
}
