*{
    margin: 0;
	padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    overflow: auto;
    background-color: #dbded5;
    width: 110%;
    overflow-x: hidden;

}

body{
    width: 100%;
    height: 100%;
}


.addWorkout{
    margin-top: 1.2rem;
    position: relative;
    font-family: Calibri;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    font-size: 18px;
    margin-top: 3rem;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    2px 2px 8px rgba(0, 0, 0, 0.15);
}

.addWorkout:hover{

    box-shadow:
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset -2px -2px 4px rgba(255, 255, 255, 1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.addWorkout:hover span{
    display: inline-block;
    transform: scale(0.98);
}

.addClient{
    margin-top: 1.2rem;
    margin-left: 6.5rem;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: white;
    font-size: 18px;
    border-radius: 50px;

}

.addClient:hover{
    cursor: pointer;

}



.addWorkoutPlan{
    font-size: 5rem;
    font-weight: 300;
    position: relative;
    top: 1rem;
}

.addWorkoutPlan:hover{

    overflow: hidden;
    overflow-y: hidden;
    cursor: pointer;
}

.editProfile{
    margin-top: 3rem;
    position: relative;
    bottom: 3rem;
    left: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    color: black;
    font-size: 18px;
    /* border-radius: 40px; */
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    2px 2px 8px rgba(0, 0, 0, 0.15);
}

.editProfile:hover{

    box-shadow:
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset -2px -2px 4px rgba(255, 255, 255, 1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.editProfile:hover span{
    display: inline-block;
    transform: scale(0.98);
}

body::-webkit-scrollbar {
    width: 1.5em;
  }

  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  body::-webkit-scrollbar-thumb {
    background-color: white;
    outline: 1px solid #99c1de;
  }

.MuiDrawer-paper{
    background-color: #b0c9c2 !important
}

.Mui-expanded{
    background-color: white !important
}

.MuiToolbar-root {
    display: flex;
    justify-content: space- !important;
}

.footer__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #284B63;
    color: white;
    min-height: 64px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.login-page__container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    /* border: 3px solid red; */


}

.login__graphic{
    width: 100%;
}
.login__container{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 20rem;
    /* left: 10rem;
    bottom: 10rem; */
}


.signup-page__container{
    display: flex;
    justify-content: space-evenly;

}

.signup__container{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 10rem;
    left: 10rem;
    bottom: 10rem;

}

.signup__graphic{
    width: 100%;
}

.client-view__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.editclient__btn{
    position: absolute;
}

.overview__container{
    background-color: #b0c9c2;
    box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    #A3B1C6;
    padding: 0.3rem;
    color: white;
    height: 8rem;
}

.overview-date{
    position: relative;
    bottom: 2.5rem;
    width: 1rem;
}

.overview-buttons{
    position: relative;
    left: 40rem;
}

.today-sched__container{
    letter-spacing: 2px;
    border-radius: 5px;
    width: 65rem;
    height: auto;
    display: block;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: #dbded5;
    box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px #bdbfb8;
}

.todaysclients__container{
    background-color: whitesmoke;
    position: relative;
    bottom: 3rem;
    padding-bottom: 2.5rem;
    /* margin-top: 10rem; */
}

.today-sched__title{
    text-align: center;
    font-family: Calibri;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    top: 2rem;
}

.title__container{
    text-Align: center;
    position: relative;
    left: 2rem;
    font-size: 2rem;
    font-family: Pacifico, cursive;
    margin-top: 3rem;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* /manage-client section */

.clientinfo__container{
    letter-spacing: 2px;
    border-radius: 3px;
    width: 80rem;
    height: 30rem;
    display: flex;
    padding-top: 1rem;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
}

.clientinfo__header{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.clientinfo__info{
    display: block;
    text-align: center;
    width: 35rem;
    height: 20rem;
    position: relative;
    top: 3rem;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    margin-right: 0.5rem;
    color: black;
    background-color: #dbded5;
    box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    rgba(94, 104, 121, .288)
    /* box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15); */
}

.clientinfo__payment{
    display: block;
    text-align: center;
    width: 30rem;
    height: 20rem;
    position: relative;
    top: 3rem;
    margin-left: 0.5rem;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    color: black;
    background-color: #dbded5;
    box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    rgba(94, 104, 121, .288)
    /* box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15); */
}

.clientinfo__clientcard{
    display: flex;
    justify-content: center;
    /* padding: 1rem; */
    /* margin-right: 2rem; */
    /* margin-left: 1rem; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* padding-left: rem; */
    width: 31rem;
    color: black;
    background-color: white;
    box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    #A3B1C6
}

.clientinfo__paymentcard{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    padding-top: 1rem;
    margin-left: 1rem;
    padding-bottom: 3rem;
    margin-right: 1rem;
    color: black;
    background-color: white;
    box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    #A3B1C6
}

.clientinfo__info__contact{
    border: 1px solid transparent;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.cancellation{
    margin-top: 1.2rem;
}

.card__contact{
    font-weight: 700;
}

.clientinfo__info__payment{
    border: 1px solid transparent;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    text-align: center;
}

.clientinfo__info__payment__duedate{
    justify-content: flex-start;
}

/* home - client / workout section */
.home-page__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.home-clients__container{
    letter-spacing: 2px;
    border-radius: 5px;
    width: 65rem;
    height: 35rem;
    display: block;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    background-color: #c4dfd7;
    /* box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px #bdbfb8 */
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15);
}

.workouts-and-intensities{
    display: flex;
    justify-content: space-around;
}

.home-welcome__message{
    font-size: 2rem;
    font-family: Pacifico, cursive;
    margin-top: 3rem;

}

.home-clients__title{
    text-align: center;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-family: Calibri;
    font-weight: 800;
    width: 20rem;
    height: 3.2rem;
    position: relative;
    left: 22rem;
    top: 1rem;
    margin-top: 0.5rem;
    background-color: #b0c9c2;
    box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    rgba(94, 104, 121, .288)
    /* box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15); */
}


.home-clients__header{
    margin-top: 2rem;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

    .home-clients__header2{
    margin-top: 1rem;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-clients__info{

    display: inline-block;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-top: 3rem;
    border-radius: 50px;
    background-color: #feeafa;
    box-shadow:
    inset -3px -3px 7px #A3B1C6,
    inset 3px 3px 5px
     #ffffff
    /* background-color: white;
    box-shadow:
    -6px -6px 16px 0 rgba(0, 0, 0, 0.25),
    8px 8px 12px 0 rgba(255, 255, 255, 0.3); */
}

.home-clients__info:hover{
    padding: 10rem;
    transition-duration: 2s;
}

.home-clients__payment{
    display: block;
    text-align: center;
    width: 30rem;
    height: 25rem;
    margin-top: 3rem;
    border-radius: 5px;
    background-color: #a5bcb6;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15);
    /* box-shadow:
    inset -3px -3px 7px #A3B1C6,
    inset 3px 3px 5px
     #ffffff */
    /* box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    rgba(94, 104, 121, .288) */

}

.home-clients__payment::-webkit-scrollbar {
    background-color: transparent;
}

.home-clients__payment::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.home-clients__payment::-webkit-scrollbar-thumb {
    background-color: #99c1de;
    outline: none;
  }

.home-clients__workouts{

    overflow-y: hidden;
    overflow-x: hidden;
    height: 15rem;
    padding-top: 2rem;
}

.home-clients__workouts:hover{
    overflow-y: auto;
}

.home-clients__workouts{
    display: flex;
    justify-content: center;
}

.home-clients__clientcard{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin-right: 2rem;
}

.home-clients__paymentcard{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid blue;
    padding: 1rem;
    margin-left: 2rem;
}

.home-clients__info__contact{
    border: 1px solid transparent;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    text-align: center;
}

.home-clients__info__payment{
    border: 1px solid transparent;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    text-align: center;
}

.form__container{
    position: relative;
    left: 2rem;
}

.home-clients__info__payment__duedate{
    justify-content: flex-start;
}

.card__header{
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1rem;
}

.workout-and-calendar__container{
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
}

.client-view__workout-plans{
    display: block;
    text-align: center;
    align-content: center;
    position: relative;
    width: 60rem;
    height: 27rem;
    bottom: 10rem;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #dbded5;
    padding-bottom: 2rem;
    padding-right: 3rem;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15);
}

.client-view__workout-plans-header-on{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 5rem;
    position: relative;
    width: 13rem;
    left: 4rem;
    bottom: 10rem;
    padding-left: 1rem;
    box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    rgba(94, 104, 121, .288);
    padding-left: 1rem;
    padding-right: 1rem;

}

.client-view__workout-plans-header-off{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 5rem;
    position: relative;
    bottom: 10rem;
    width: 13rem;
    left: 4rem;
    padding-left: 1rem;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15);
}

.client-view__workout-plans-header-off:hover{
    cursor: pointer;
}

.client-view__workout-sched-header-off:hover{
    cursor: pointer;
}

.client-view__workout-schedule{
    display: block;
    text-align: center;
    align-content: center;
    width: 60rem;
    height: 25rem;
    border-radius: 20px;
    position: relative;
    bottom: 10rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #dbded5;
    padding-bottom: 2rem;
    padding-right: 3rem;
    box-shadow:
    inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px
    rgba(94, 104, 121, .288)
}

.client-view__workout-sched-header-on{
    display: flex;
    background-color: #dbded5;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 5rem;
    position: relative;
    justify-content: center;
    width: 10rem;
    bottom: 4.6rem;
    left: 17.2rem;
    padding-bottom: 0.4rem;
    box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    rgba(94, 104, 121, .288);
    padding-left: 1rem;
    padding-right: 1rem;
}

.client-view__workout-sched-header-off{
    display: flex;
    background-color: #dbded5;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 5rem;
    position: relative;
    justify-content: center;
    width: 10rem;
    bottom: 4.6rem;
    left: 17.2rem;
    padding-bottom: 0.4rem;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15);
}


.workoutplans__container{
    display: flex;
    margin-top: 3rem;
    overflow-x: hidden;
    margin-left: 3rem;
}

.today-plan-sched__container{
    display: flex;
    margin-top: 3rem;
    overflow-x: hidden;
    margin-left: 3rem;;
}

.today-plan-sched__container-hidden{
    visibility: hidden;
    display: flex;
    margin-top: 3rem;
    overflow-x: hidden;
    margin-left: 3rem;;
}

.workoutplans__container:hover{
    overflow-x: auto;
}

.workoutplans__container::-webkit-scrollbar {

    background-color: #dbded5;
}

.workoutplans__container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.workoutplans__container::-webkit-scrollbar-thumb {
    background-color: white;
    outline: none;
  }


  .overview-button-today-on{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 3rem;
    position: relative;
    width: 5rem;
    left: 10.4rem;
    top: 2.2rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.4rem;
    box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    rgba(94, 104, 121, .288);
    padding-left: 1rem;
    padding-right: 1rem;

}

.overview-button-today-off{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 3rem;
    position: relative;
    top: 2.2rem;
    width: 5rem;
    left: 10.47rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.4rem;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15);
}

.overview-button-today-off,
.overview-button-tomorrow-off
:hover{
    cursor: pointer;
}

.overview-button-tomorrow-on{
    display: flex;
    background-color: #dbded5;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 3rem;
    position: relative;
    justify-content: center;
    width: 7rem;
    bottom: 0.8rem;
    left: 15.5rem;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    box-shadow:
    inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px
    rgba(94, 104, 121, .288);
    padding-left: 1rem;
    padding-right: 1rem;
}

.overview-button-tomorrow-off{
    display: flex;
    background-color: #dbded5;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 3rem;
    position: relative;
    justify-content: center;
    width: 7rem;
    bottom: 0.8rem;
    left: 15.5rem;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    6px 6px 8px rgba(0, 0, 0, 0.15);
}
